#############################
# MAVEN
#############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

#############################
# IntelliJ Idea
#############################
.idea/
*.iml
*.iws
*.ipr

#############################
# Eclipse
#############################
.project
.classpath
.settings/
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
.factorypath
.apt_generated/
.apt_generated_test/

#############################
# VSCode
#############################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

#############################
# Other
#############################
application-local.yml
*.class
*.log
Thumbs.db
ehthumbs.db
Desktop.ini
Icon?
.DS_Store
.DS_Store?
._*
.Trashes
$RECYCLE.BIN/
